*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:root{
    --grey: #F2F4F7;
    --blue: #0866FF;
    --green: #36A420;
    --white: white;
    --black: rgb(145, 145, 145);
}

.sectionmain{
    background-color: var(--grey);
    height: 615px;
    display: flex;
}

.div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -130px;
    width: 50%;
    gap: 7px;
}

.div2{
    width: 50%;
    
}
.p1{
    font-size: 65px;
    font-weight: 900;
    color: var(--blue);
}

.p2{
    width: 500px;
    margin-right:  -223px;
    font-size: 26px;
}

.interdiv{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 399px;
    height: 362px;
    margin-left: -110px;
    border-radius: 10px;
    box-shadow: var(--black)  0px 2px 5px;
    margin-top: -50px;
    gap: 15px;
}

.div2{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input1{
    width: 93%;
    height: 15%;
    border: 1px solid rgb(212, 212, 212);
    padding: 14px 16px;
    font-size: 15px;
    border-radius: 10px;
}
.input2{
    width: 93%;
    height: 13%;
    background-color: var(--blue);
    padding-inline-start: 0px 16px;
    color: var(--white);
    font-size: 21px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}

.p11{
    color: var(--blue);
    font-size: 14px;
}

.p12{
    color: rgb(219, 218, 218);
}

.button1{
    background-color: var(--green);
    color: var(--white);
    width: 50%;
    height: 15%;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 900;
}

.lastp{
    padding-top: 30px;
    font-size: 15px;
    margin-left: -90px;
}
.strong1{
    padding-right: 5px;
}

@media(max-width: 1200px){
    .p2{
        font-size: 23px;
        width: 380px;
        margin-left: -120px;       
    }
}
@media(max-width:1020px){
    .sectionmain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 85px;
        align-items: center;
    }

    .div2{
        margin-bottom: -150px;
        margin-right: -200px;
    }

    .p1{
        padding-left: 60px;
    }
    .p2{
        padding-left: 30px;
        width: 400px;
    }

}